body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 30px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    padding: 8px;
    width: 80%;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}

#message {
    font-weight: bold;
    margin-top: 15px;
}